.c-tasks {
  margin: 20px;

  &__box {
    display: flex;
  }

  &__item {
    // display: flex;
    // justify-content: space-between;
    margin: 0 15px 15px 0;
    width: 150px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-left-style: solid;
    border-left-width: 5px;

    & p {
      padding-bottom: 5px;
    }
  }

  &__button {
    height: 25px;
    width: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto 100%;
    border: none;
    cursor: pointer;
    &--edit {
      background-image: url('./../../media/edit-solid.svg');
    }

    &--delete {
      background-image: url('./../../media/times-solid.svg');
    }
  }
}
